.hidden {
  display:none !important;
}

.remove-from-trolls {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/check-circle-outline-16.png');
}

.add-to-trolls {
   background-image:url('chrome-extension://__MSG_@@extension_id__/images/block-16.png');
}
.add-to-trolls, .remove-from-trolls {
  display:block;
  width:16px;
  height:16px;
}

.no-background a {
  background-image: none !important;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

